h1 {
    color: #ed2e2e;
}

body {
    color: #330000;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: medium;
    font-size: 2rem;
    background-image: url('main.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 25%;
}

div {
    margin: auto;
    position: absolute;
    left: 50%;
    z-index: 1;
}

p:nth-of-type(2) {
    font-weight: 300;
    margin-top: -8px;
}

@media (max-width: 1000px) {
    body {
        background-size: 80vh;
        background-repeat: no-repeat;
        background-position: center 80%;
        font-size: 4vw;
    }
    div {
        margin: 13% 10%;
        position: relative;
        left: 0;
        z-index: 1;
    }
}

figure {
    margin: auto;
    max-width: 30%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

figure:nth-of-type(1) {
    background-image: url('shirt.png');
    width:250px;
    height: 250px;
    left: 40%;
    top: 31%;
}

figure:nth-of-type(2) {
    background-image: url('phone.png');
    width:350px;
    height: 350px;
    left: 41%;
    top: 29%;
}

figure:nth-of-type(3) {
    background-image: url('armor.png');
    min-width:250px;
    min-height: 250px;
    left: 41.1%;
    top: 29.75%;
    clip-path: inset(16px 33px);
    background-color: red;
}

rect {
    /* position: absolute; */
    left: 20%;
    top: 30%;
}